.wrapper {
  height: 85vh;
  border-radius: 10px;
  position: relative;
  color: #fff;
  padding-top: 50px;
  .header {
    //position: absolute;
    background-color: rgb(58, 58, 58);
    border-radius: 10px 10px 0 0;
    height: 40px;
    padding: 10px 5px;
    font-size: 2rem;
  }

  .editor {
    background-color: rgb(15, 15, 16);
    height: 100%;
    border-radius: 0 0 10px 10px;
    position: relative;
    color: #fff;
    padding: 10px;
    outline: none !important;
    font-size: 18px;
    line-height: 1.5;
  }
}
